@import "tailwindcss";
@plugin "daisyui";


/* !common section starts */
    :root {
        --primary: #FF6F61;     
        --secondary: #264653;   
        --accent: #F4A261;      
        --background: #FDFDFD;  
        --textDark: #2C2C2C;    
        --borderGray: #E0E0E0;  
    }

    .primary_bg_color {
          background-color: var(--primary);
    }

    .secondary_bg_color{
        @apply bg-[#EFF2F9]
    }
    .primary_text_color {
         color: var(--primary);
    }

    .primary_btn {
        @apply bg-[#FF6F61] px-6 py-2 rounded-sm font-semibold cursor-pointer
    }
    .secondary_btn{
        @apply  border border-[#FF6F61] px-6 py-2 rounded-sm hover:bg-[#FF6F61] transition-all font-semibold cursor-pointer
    }
/* !common section ends */


/* ! form section */

.auth_form input {
    @apply w-full mt-2 mb-6 py-6 px-4
}


/* navbar */

.navbar ul li a{
    @apply text-sm  uppercase font-semibold     
}

/* banner img */

.banner_cnt {
 
}

/* add marathon form */
.addMarathon_form input {
    @apply w-full  mb-2
}
.addMarathon_form textarea,select {
    @apply w-full 
}

.addMarathon_form label {
    @apply text-lg mb-2 
}

/* register form */
.register_form input {
    @apply w-full mt-1 mb-2
}
.register_form label {
    @apply text-lg 
}

.register_form textarea {
    @apply w-full 
}

/* dashboard layout */
.drawer ul li a {
    @apply  text-black font-semibold mb-2
}

.drawer ul li a.active {
    @apply bg-white font-semibold
}

/* sucess story */
.success_story {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.575);
}